.dark{
    text-align: left;
    background-color: gray;
    color: white;
}
#contact-page{
    text-align: center;
    background-color: teal;
    color: rgb(138, 31, 31);
}
*{
    background-color: lightgray;
}
h1{
    background-color: black;
    color: firebrick;
    text-align: center;
}